# Salin file ini menjadi ".env.local" lalu isi dengan data dari project Supabase kamu
# Ada di: Supabase Dashboard -> Project Settings -> API

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=isi-dengan-anon-public-key-dari-supabase
